<mat-tab-group animationDuration="500ms" backgroundColor="warn">
    <mat-tab label="Payments">Payments</mat-tab>
    <mat-tab label="Debtors">Debtors</mat-tab>
    <mat-tab label="Billings">Billings</mat-tab>
    <mat-tab label="Bank">Bank Content Here</mat-tab>
  <mat-tab label="Income &amp; Expenditure">
    Income &amp; Expenditure Content Here
  </mat-tab>
  <mat-tab label="Petty Cash ">Petty Cash Content Here</mat-tab>
  <mat-tab label="Cash Book">Cash Book Content Here</mat-tab>
  <mat-tab label="Trial Balance">Trial Balance Content Here</mat-tab>
  <mat-tab label="Payment Voucher">Payment Voucher content Here</mat-tab>
  <mat-tab label="Billings">Billings Content Here</mat-tab>
</mat-tab-group>
