<mat-tab-group animationDuration="500ms" backgroundColor="warn">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>email</mat-icon>
            Continuous Assessment
        </ng-template>
        <!-- Continuous Assessment Content Here -->
        Continuous Assessment Content Here
    </mat-tab>


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>sms</mat-icon>
            BroadSheet
        </ng-template>
        <!-- BroadSheet Content Here -->
        BroadSheet Content Here
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>reports</mat-icon>
            Terminal Report
        </ng-template>
        <!-- Terminal Reports Content Here -->
        Terminal Reports Content Here
    </mat-tab>
  </mat-tab-group>
  