<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar style="background-color: rgb(36, 30, 30)">
      <!-- Menu -->
      <a routerLink="/">
        <img
          class="doxafield-logo"
          src="assets/public/doxafield-logo.jpg"
          alt=""
          srcset=""
        />
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <mat-divider class="divider"></mat-divider>
      <a mat-list-item routerLink="dashboard"
        ><mat-icon>dashboard</mat-icon> Dashboard</a
      >
      <mat-divider class="divider"></mat-divider>

      <a mat-list-item routerLink="academics"
        ><mat-icon>school</mat-icon> Academics</a
      >
      <mat-divider class="divider"></mat-divider>

      <a mat-list-item routerLink="finance"
        ><mat-icon>calculate</mat-icon> Finance</a
      >
      <mat-divider class="divider"></mat-divider>

      <a mat-list-item routerLink="hr"><mat-icon>people</mat-icon> HR</a>
    </mat-nav-list>
    <div class="bottom">
      <mat-nav-list>
        <a mat-list-item routerLink="settings"
          ><mat-icon>settings</mat-icon> Settings</a
        >
        <mat-divider class="divider"></mat-divider>
        <a mat-list-item routerLink="/logout"
          ><mat-icon>logout</mat-icon> Logout</a
        >
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Daystar Academy School</span> -->
      <!-- Add two rows to this toolbar -->
      <mat-toolbar-row>
        <span>DAYSTAR ACADEMY SCHOOL</span>
      </mat-toolbar-row>

      <!-- TODO: Use ng store to auto change this title -->
      <mat-toolbar-row>
        <span>The Title of This Tab Goes Here</span>
      </mat-toolbar-row>

      <!-- End of two rows -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
