.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav {
  background: #5a70ec;
  color: #ffffff;
}

.divider {
  color: #ffffff;
  background-color: #ffffff;
}

mat-nav-list  a {
  text-transform: uppercase;
}

.bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}

.doxafield-logo {
  width: 120px;
  max-width: 150px;
}