<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar style="background-color: rgb(36, 30, 30)">
      <!-- Menu -->
      <a routerLink="/">
        <img
          class="doxafield-logo"
          src="assets/public/doxafield-logo.jpg"
          alt=""
          srcset=""
        />
      </a>
    </mat-toolbar>
    <!-- #region Side nav list (main) -->
    <mat-nav-list>
      <a
        *ngFor="let nav of navs"
        mat-list-item
        [routerLink]="nav.route"
        routerLinkActive="active-link"
        (click)="updateNavTitle(nav)"
        ><mat-icon>{{ nav.icon }}</mat-icon> {{ nav.name | uppercase }}</a
      >

      <mat-divider class="divider"></mat-divider>
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item routerLink="students"
                ><mat-icon>group</mat-icon>STUDENTS</a
              >
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item routerLink="academics"
                ><mat-icon>school</mat-icon> Academics</a
              >
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion> -->
    </mat-nav-list>
    <!-- #endregion -->

    <!-- #region Bottom of side nav -->
    <div class="bottom">
      <mat-nav-list>
        <a
          *ngFor="let bnav of bottomNavs"
          mat-list-item
          [routerLink]="bnav.route"
          routerLinkActive="active-link"
          (click)="updateNavTitle(bnav)"
          ><mat-icon>{{ bnav.icon }}</mat-icon> {{ bnav.name | uppercase }}</a
        >
      </mat-nav-list>
    </div>
    <!-- #endregion -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- #region Add two rows to this toolbar -->
      <mat-toolbar-row>
        <span>DAYSTAR ACADEMY SCHOOL</span>
      </mat-toolbar-row>

      <!-- TODO: Use ng store to auto change this title -->
      <mat-toolbar-row *ngIf="(navStore | async)?.title">
        <hr />
        <span>{{ (navStore | async)?.title }}</span>
      </mat-toolbar-row>

      <!-- #endregion -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
