mat-card-title,
mat-card-subtitle {
  display: flex;
  justify-content: center;
}

mat-form-field {
    display: block;
}

mat-radio-button {
    margin-right: 15px;
}

mat-card {
    width: 100%;
}

.login-container {
    padding: 15px;
    border: 1px solid #feaddd;
    width: 450px;
    display: flex;
}

.login-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-type-container {
    margin-bottom: 10px;
}

.login-type-radio {
    display: flex;
    justify-content: space-between;
}