<div mat-dialog-title>
  <h2>SAVE ADMISSION DETAILS</h2>
  <div align="end"><span mat-dialog-close>&times;</span></div>
</div>
<mat-dialog-content>
  <!-- <ng-container [ngSwitch]="stepperOrientation | async">
  <div *ngSwitchCase="'horizontal'">
    Make your screen smaller to see a vertical stepper
  </div>
  <div *ngSwitchCase="'vertical'">
    Make your screen larger to see a horizontal stepper
  </div>
</ng-container> -->

  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!"
  >
    <!-- #region Personal Information -->
    <mat-step [stepControl]="personalDetailsFormGroup" label="Personal Details">
      <form [formGroup]="personalDetailsFormGroup">
        <!-- Content here -->
        <div class="row">
          <div class="col-md-8">
            <mat-form-field>
              <mat-label>Surname</mat-label>
              <input
                matInput
                placeholder="Surname"
                formControlName="surname"
                required
              />
            </mat-form-field>

            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="First name"
                formControlName="firstName"
                required
              />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Other Names</mat-label>
              <input
                matInput
                placeholder="Other names"
                formControlName="otherNames"
              />
            </mat-form-field>

            <mat-radio-group
              formControlName="gender"
              aria-label="Select an option for gender"
            >
              <mat-label>Gender</mat-label>
              <mat-radio-button id="male" value="M">Male</mat-radio-button>
              <mat-radio-button id="female" value="F">Female</mat-radio-button>
            </mat-radio-group>

            <mat-form-field>
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                formControlName="dob"
                [matDatepicker]="dobPicker"
                placeholder="mm-dd-yyyy"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dobPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi #dobPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <label>Upload pupil's passport-size photo</label>
            <input
              type="file"
              (change)="onFileSelected($event)"
              style="display: none"
              #passportphoto
            />
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="passportphoto.click()"
            >
              <mat-icon matPrefix>add_a_photo</mat-icon> Upload photo
            </button>
            <img
              *ngIf="imageSrc"
              [src]="imageSrc"
              style="height: 200px; width: 200px"
              class="thumbnail"
            />
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- #endregion -->
    <!-- #region Address & Background Details -->
    <mat-step
      [stepControl]="addressAndBackgroundFormGroup"
      label="Address &amp; Background Details"
    >
      <form [formGroup]="addressAndBackgroundFormGroup">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="address"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>GH Post Code</mat-label>
          <input
            matInput
            formControlName="ghPostCode"
            placeholder="GH Post Code"
          />
          <mat-hint>Example: NAM-8888-ME</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tribe</mat-label>
          <input matInput formControlName="tribe" placeholder="Tribe" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Religion</mat-label>
          <input matInput formControlName="religion" placeholder="Religion" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Home Town</mat-label>
          <input matInput formControlName="hometown" placeholder="home town" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nationality</mat-label>
          <input
            matInput
            formControlName="nationality"
            placeholder="Nationality"
          />
        </mat-form-field>

        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- #endregion -->

    <!-- #region School History -->
    <mat-step [stepControl]="schoolHistoryFormGroup" label="School History">
      <form [formGroup]="schoolHistoryFormGroup">
        <mat-form-field>
          <mat-label>Last School Attended</mat-label>
          <input matInput formControlName="lastSchoolAttended" placeholder="" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" placeholder="location" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Reason for leaving</mat-label>
          <input
            matInput
            formControlName="reasonForLeaving"
            placeholder="Reason for leaving"
          />
          <mat-hint>Example: Relocation, transfer, </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Year of Leaving</mat-label>
          <input
            matInput
            formControlName="yearOfLeaving"
            placeholder="Year of leaving"
          />
        </mat-form-field>

        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- #endregion -->

    <!-- #region Health Details -->
    <mat-step [stepControl]="healthDetailsFormGroup" label="Health Details">
      <form [formGroup]="healthDetailsFormGroup">
        <mat-form-field>
          <mat-label>Blood Group</mat-label>
          <input
            type="text"
            matInput
            placeholder="blood group"
            formControlName="bloodGroup"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Sickle Cell Status</mat-label>
          <input
            type="text"
            matInput
            placeholder="Sickle cell status"
            formControlName="sickleCellStatus"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Allergies</mat-label>
          <input
            type="text"
            matInput
            placeholder="allergies"
            formControlName="allergies"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Special Comments</mat-label>
          <input
            type="text"
            matInput
            placeholder="Special comments"
            formControlName="specialComments"
          />
        </mat-form-field>

        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- #endregion -->

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious>
          Back
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit()"
          [disabled]="!allFieldsValid()"
        >
          Submit
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>